.register_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  main {
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    padding: 0 32px;
    
    form {
      max-width: 480px;
      padding: 32px;
      margin: 0 auto;

      display: flex;
      flex-direction: column;;
      align-items: center;
      
      background: #f5f7fa;
      box-shadow: 1px 1px 10px rgb(221, 221, 221);

      header {
        text-align: center;
  
        h2 {
          color: #f5d654;

          font-size: 3.75rem;
          font-weight: 700;
          text-align: center;
        }
  
        h3 {
          color: #646464;
          margin-top: 16px;
        }
      }

      .form_content {
    
        .inputs {
          padding-top: 16px;
          margin: 32px 0 16px;

          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 16px;
          
          .input_container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;

            label {
              margin-bottom: 4px;
              color: #000;
            }

            input {
              color: #000;
              padding: 12px 16px;
              width: 100%;
              outline: 0;
              border: 1px solid #ccc;
              border-radius: 8px;
              
              &:focus {
                border: 1px solid #f5d654;
              }
            }
          }
        }

        .signUp_btn {
          margin: 16px 0 24px;
          padding: 12px 64px;
          background: #f5d654;
          
          color: #000;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;

          border: none;
          border-radius: 8px;
          transition: all 0.2s;

          &:hover {
            filter:brightness(90%);
          }
        }

        .redirect_to_register {
          a {
            color: #687600;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
